@font-face {
    font-family: DIN;
    src: url(D-DINCondensed.otf);
}

@font-face {
    font-family: DIN;
    src: url(D-DINCondensed-Bold.otf);
    font-weight: bold;
}

body {
    font-family: "DIN", sans-serif;
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
}

.pitch {
    display: flex;
    flex-flow: row wrap;
    max-width: 75%;
    background-image: url("./static/grass.jpg");
    background-size: 200px;
    background-repeat: repeat;
    margin: 0 auto;
    box-shadow: inset 0px 0px 10px 1px rgb(30, 30, 30);
}

@keyframes glow {
    from {
        text-shadow: 0 0 0px rgba(0, 0, 0, 0);
    }

    to {
        text-shadow: 0 0 12px #f1e9b5;
    }
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(90deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

.box {
    margin: auto;
}

.card {
    position: relative;
    margin: 10px;
    width: 224px;
    font-size: 22px;
    text-transform: uppercase;
    color: rgb(254, 229, 136);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.box.animated .card {
    animation: glow 1s ease-in-out infinite alternate, spin 0.3s linear 2;
}

.shield {
    width: 100%;
    height: auto;
}

.portrait {
    position: absolute;
    width: 56%;
    height: auto;
    top: 20%;
    left: 28%;
}

.overall {
    position: absolute;
    top: 24%;
    left: 19%;
    transform: translate(-50%, -50%);
    font-size: 220%;
    font-weight: bold;
}

.name {
    position: absolute;
    max-width: 74%;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120%;
    font-weight: bold;
    white-space: nowrap;
    text-transform: capitalize;
}

.stats {
    position: absolute;
    top: 81%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 80%;
}

.events,
.ratings {
    display: flex;
    justify-content: center;
}

.event,
.rating {
    width: 100%;
    margin: 0 5px;
}

.rating {
    font-weight: bold;
}
