@font-face {
    font-family: DIN;
    src: url(D-DINCondensed.otf);
}

@font-face {
    font-family: DIN;
    src: url(D-DINCondensed-Bold.otf);
    font-weight: bold;
}

body {
    font-family: "DIN", sans-serif;
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
}

.pitch {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-image: url("./static/grass.jpg");
    background-size: 200px;
    background-repeat: repeat;
    margin: 20px;
    box-shadow: inset 0px 0px 10px 1px rgb(30, 30, 30);
}

.card {
    position: relative;
    margin: 0px auto;
    width: 250px;
    font-size: 24px;
    color: rgb(254, 229, 136);
    text-transform: uppercase;
}

.shield {
    width: 100%;
    height: auto;
}

.portrait {
    position: absolute;
    width: 50%;
    height: auto;
    top: 28%;
    left: 30%;
}

.overall {
    position: absolute;
    top: 28%;
    left: 22%;
    transform: translate(-50%, -50%);
    font-size: 220%;
    font-weight: bold;
}

.name {
    position: absolute;
    max-width: 76%;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.stats {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 80%;
}

.events,
.ratings {
    display: flex;
    justify-content: center;
}

.event,
.rating {
    width: 100%;
    margin: 0 5px;
}

.rating {
    font-weight: bold;
}